    body {
      position: relative;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 75%;
      height: 400px;
    }
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }